*{
    box-sizing: border-box;
}
#home,#services,#contact,#about{
    padding-left: 5%;
}
#home{
    background-color: #0D6B4E;
    height:100%
}
.orange-round-button{
    background-color: #F2AF0E;
    border-radius: 50px;
    color: black;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.orange-round-button:hover{
    box-shadow: 2px 2px 2px #888888;
    color: black;
}
#home h1,#home h2{
    color: #DAD0D0;
    padding:20px;
}
#home h1{
    font-family: 'Righteous';
    font-size: 5vw;
}
#home h2{
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 4vw;
}
.img-box{
    position: relative;
}
.circle{
    border-radius: 50%;
    background-color: #F2AF0E;
    box-shadow:  5px 8px 5px #888888;
    width: 300px;
    height: 300px;
    position: absolute;

}
#maveli{
    width: 500px;
    height: 600px;
    position: absolute;

}
.overlayLogo {
   position:absolute;
   z-index: 99999;
   top: 0;
   left:0;
}
#about {
    background-image: radial-gradient(#FAD88B, #F2AF0E);
    background-size: cover;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;

}
.about-h3{
color: #0D6B4E;
font-weight: bold;
padding-bottom: 10px;
}
.about-p{
    padding-top: 10px ;
}

@media screen and (max-width: 600px){
    #maveli{
    width: 200px;
    height: 300px;
    position:relative;

}
.circle{
    border-radius: 50%;
    width: 0px;;
    background-color: #F2AF0E;
    box-shadow:  5px 8px 5px #888888;
    position:absolute;

}
}



#contact{
    background-color:#10805E;
        background-size: cover;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: center;
}
#contact-p{
    text-align: left;
    position: absolute;
    width: 427px;
    height: 100px;
    left: 106px;
    top: 3490px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #E5E5E5;
}
.mid{
    text-align: center;

}
.mid-h4{
    color:whitesmoke;
}
hr{
    background-color:#F2AF0E;
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden; 
    border-style: inset; 
    border-width: 5px;
}

