*{
    box-sizing: border-box;
}
#home{
    background-color: #0D6B4E;
    position: relative;
}
.orange-pills>a{
    background-color: #F2AF0E;
    border-radius: 50%;
}
#home>h1,#home>h2{
    color: #DAD0D0;
    font-size: 10vw;
}
#home>h1{
    font-family: 'Righteous';
}
#home>h2{
    font-family: 'Baloo Chettan 2', cursive;
}
.circle{
    border-radius: 50%;
    position:absolute;
    background-color: #F2AF0E;
    box-shadow:  5px 8px 5px #888888;
    width: 30%;
    height: 50%;
}
#maveli{
    position: absolute;
    right: 0;
    top: 10%;
    width: 50%;
    height: 80%;

}
#about {
    background-image: radial-gradient(#FAD88B, #F2AF0E);
    background-size: cover;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;

}
.about-h3{
color: #0D6B4E;
font-weight: bold;
padding-bottom: 10px;
}
.about-p{
    padding-top: 10px ;
}